/* 
 * The style-sheet included with the browse-list JSP pages.
 */
 
div#browseopts
{
  top: 200px;
  left: 5px;
  position: absolute;
}
  
div#browselist
{
  width: 575px;
  height: 500px;
  overflow: auto;
  margin-top: 10px;
  position: relative;
}
  
#baagbrowselist
{
  width: 525px;
  height: 500px;
  overflow: auto;
  margin-top: 10px;
  margin-left: 25px;
  position: relative;
  line-height: 1.5em;
  font-weight: 200;
  font-size: 15px;
}
  
div#baagdirh
{
  width: 575px;
  margin-top: 10px;
  line-height: 1.4em;
  font-size: 14px;
}

div#baagfilmh
{
  width: 575px;
  margin-top: 10px;
  line-height: 1.4em;
  font-size: 14px;
}

div#baagdirh p
{
  padding-top: 6px;
}

div#baagfilmh p
{
  padding-top: 6px;
}

/*
 * font-family: Helvetica, sans-serif;
*/
#baagbrowselist a:link
{
  text-decoration: none;
  color: black;
}

div#baagbrowselist a:visited
{
  text-decoration: none;
  color: #446;
}

#browseTable
{
  margin-top: 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
}

#browseTable a:link
{
  text-decoration: none;
  color: black;
}

#browseTable a:visited
{
  text-decoration: none;
  color: #446;
}

#browseTable td
{
  width: 25em;
}

#navAlist
{
  font-family: Arial Black, Helvetica, Arial, sans-serif;
  color: #00688B;
  top: 5px;
  position: relative;
  font-weight: bold;
  font-size: 14px;
}

#navAlist ul
{
  margin-left: 0;
  padding: 0;
  width: 575px;
}

#navAlist li
{
  display: inline;
  padding: 2px;
}

#browsePane #pad
{
  height: 500px;
}

div#footer
{
  top: 60px;
}
