/*
 * The style-sheet included with FilmSearch.jsp.
 *
 * Creates styles specific to the JSP, and provides a place where
 * more generic settings can be overridden.
 */
 
form#filmForm
{
  margin-top: 46px;
  margin-left: 30px;
  line-height: 1em;
}

div#footer
{
  top: 100px;
}
